# IntelliJ IDEA
*.iml
*.xml

# IntelliJ specific files (if you want fine-grained control)
# Uncomment these only if you want to keep some of them
# .idea/runConfigurations/
# .idea/codeStyles/

# Misc IDE files
/shelf/
/workspace.xml
/misc.xml
/modules.xml
/vcs.xml
/mavenHomeManager.xml

# Java build output
/out/
/target/
